<!DOCTYPE html>
<html>
<head>
    <title>Konversi Jarak</title>
    <style>
        body { font-family: Arial; padding: 30px; }
        input, select { padding: 5px; margin: 5px; }
        button { padding: 5px 10px; }
    </style>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <div class="container">
        <h2>Konversi Jarak</h2>

        <form method="POST">
            <input type="number" step="any" name="value" placeholder="Masukkan angka" required>

            <select name="from_unit">
                <option value="km">km</option>
                <option value="hm">hm</option>
                <option value="dam">dam</option>
                <option value="m">m</option>
                <option value="dm">dm</option>
                <option value="cm">cm</option>
                <option value="mm">mm</option>

                <option value="inch">inch</option>
                <option value="feet">feet</option>
                <option value="yard">yard</option>
                <option value="mile">mile</option>
            </select>

            <div class="span">
                <span>ke</span>
            </div>
            
            <select name="to_unit">
                <option value="km">km</option>
                <option value="hm">hm</option>
                <option value="dam">dam</option>
                <option value="m">m</option>
                <option value="dm">dm</option>
                <option value="cm">cm</option>
                <option value="mm">mm</option>

                <option value="inch">inch</option>
                <option value="feet">feet</option>
                <option value="yard">yard</option>
                <option value="mile">mile</option>
            </select>

            <br><br>
            <button type="submit">Konversi</button>
        </form>

        {% if result is not none %}
        <div class="result">
            <p>{{ value }} {{ from_unit }} → {{ to_unit }}</p>
            <h3>Hasil = {{ result }} {{ to_unit }}</h3>
        </div>
        {% endif %}

    </div>
<footer class="footer">
    © 2025 Surya Ganteng AKA Teguh Surya Romadon - H1D025079
</footer>

</body>
</html>
