body {
    font-family: Arial, sans-serif;
    background-image: url("/static/images/bg.gif");
    background-size: cover;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container utama */
.container {
    background-image: url("/static/images/bg3.jpg");
    background-size: cover;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    width: 400px;
}

/* Judul */
h2 {
    text-align: center;
    margin-bottom: 25px;
    color: white;
}

/* Label */
label {
    font-weight: bold;
    margin-top: 15px;
    display: block;
    color: #444;
}

/* Input angka */
input[type="number"] {
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

/* Dropdown */
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.span {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

/* Tombol */
button {
    width: 100%;
    padding: 12px;
    margin-top: 25px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #2980b9;
}

/* Hasil */
.result {
    margin-top: 20px;
    padding: 15px;
    background: #ecf8f3;
    border-left: 5px solid #2980b9;
    border-radius: 5px;
    font-size: 18px;
    color: #2980b9;
}

.footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
    opacity: 0.8;
}
